<div class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>Menu principal</label></li>
		<li><a class="at_menu_item" href="{{@blog.url}}"><span class="fa fa-home"></span> Accueil</a></li>
		<li><a class="at_menu_item" href="{{@blog.url}}/a-propos"><span class="fa fa-user"></span> À propos</a></li>
		<li><a class="at_menu_item" href="https://twitter.com/Gta_Cool" target="_blank"><span class="fa fa-twitter"></span> Twitter</a></li>
		<li><a class="at_menu_item" href="https://github.com/Gta-Cool" target="_blank"><span class="fa fa-github"></span> Github</a></li>
	</ul>
</div>